.first {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./../utils/login.jpg");
    background-size: cover;

}

.main {

    position: fixed;
    top: 20lvh;
    left: 20lvh;
    width: 350px;
    height: 500px;
    background: rgb(85, 120, 210);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;


}
.signup label{
    
        color: #fff;
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    
}



.login {
    height: 460px;
    background: #eee;
    border-radius: 70% / 10%;
    transform: translateY(-200px);


}

.login label {
    
        color: #fff;
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    
    color: #573b8a;
    transform: scale(1);

}


#chk:checked~.login {
    transform: translateY(-600px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {

    transform: scale(1);
}