@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);



body {

    font-family: "Raleway", serif;

    .card {
        box-sizing: border-box;
        width: 650px;
        position: absolute;
        background: white;
        margin-left: 160px;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: all 0.3s;

        &:hover {

            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        }


        .photo {
            box-sizing: border-box;
            padding: 30px;
            width: 45%;
            text-align: center;
            float: left;
        }

        .photo img {
            box-sizing: border-box;

            margin-top: 25px;
            max-height: 300px;
            width: 250px;

        }

        .description {
            box-sizing: border-box;

            padding: 30px;
            float: left;
            width: 55%;
            border-left: 2px solid #efefef;

            .h1 {
                color: #515151;
                font-weight: 300;
                padding-top: 15px;
                margin: 0;
                font-size: 30px;
                font-weight: 300;
            }

            .h2 {
                color: #515151;
                margin: 0;
                text-transform: uppercase;
                font-weight: 500;
            }

            .h4 {
                margin: 0;
                color: #727272;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 12px
            }

            .p {
                font-size: 12px;
                line-height: 20px;
                color: #727272;
                padding: 20px 0;
                margin: 0;
            }

        }

    }
    .card_button{
        width: 120px;
        height: 45px;
        padding-top: 9px;
        margin-left: 1px;
        margin-top: 30px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        background-color: #2062b9;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(97, 97, 100, 0.5);
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Georgia', serif;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}