.sidebar2 {
    height: 100%;
    width: 420px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1c;
    padding-top: 10px;
    padding-left: 5px;
    color: white;
}

.sidebarLink2 {
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
}
.sidebar2 h1{
    margin-left: 30px;
    margin-top: 10px;
    color:  #2062b9;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-weight: bold;
}
.mybutton6{
    width: 150px;
    height: 50px;
    margin-right: -20px;
    margin-top: -20px;
    margin-left: 1px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #2062b9;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(97, 97, 100, 0.5);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Georgia', serif;
}

.mybutton6:hover {
    background-color: #555; /* Change the button background color on hover */
}
.search_button3 {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    margin-top: 15px ;
    transition: .2s ease-in;
    cursor: pointer;
    margin-left: -100px;
    font-family: 'Georgia', serif;

}
.search_button3 :hover {
    background-color: #555; /* Change the button background color on hover */
}

